/* 
Douglas Stewart - WDD130
CSS file for My Homepage
*/


/* Navigation */
nav {
    background-color: steelblue;
    padding: 10px;
}

/* Navigation Hyperlinks */
nav a {
    color: white;
    display: block;
    padding: 20px;
}

/* Header 1 */
h1 {
    color: steelblue;
}

/* Main Image */
main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

/* Paragraph */
p {
    padding: 0px;
}

/* Main (In Body) */
main {
    max-width: 840px;
}

/* Aside (In Body) */
aside {
    width: 20rem;
    margin: 1rem;
    border: 2px solid black;
    padding: 1rem;
    background-color: #223B55;
    color: white;
    text-align: center;
}

/* Aside Image */
aside img {
    width: 200px;
    height: auto;
}

/* Footer */
footer {
    margin-top: 15px;
    border-top: 1px solid black;
    text-align: center;
}